<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zb.module_mine">

    <application
        android:allowBackup="false"
        android:debuggable="false"
        android:theme="@style/MineTheme"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name=".activity.OpenVipActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NewsListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NewsManagerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RealNameActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WalletActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ModifyPassActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MineWebActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GiftRecordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EditMemberActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SelectJobActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EditContentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SelectTagActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FCLActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GRGiftActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TranRecordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BindingBankActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BankListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FeedbackDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SystemMsgActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WithdrawActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AuthenticationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddFeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BindingPhoneActivity"
            android:exported="false" />
        <activity android:name=".activity.LoveHomeActivity" />
        <activity android:name=".activity.LoveMoneyActivity" />
        <activity android:name=".activity.LoveSaveActivity" />
        <activity android:name=".activity.LoveGetActivity" />
    </application>

</manifest>