<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zb.module_mine">

    <application android:theme="@style/MineTheme">
        <activity android:name=".activity.OpenVipActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.NewsListActivity" />
        <activity android:name=".activity.NewsManagerActivity" />
        <activity android:name=".activity.RealNameActivity" />
        <activity android:name=".activity.WalletActivity" />
        <activity android:name=".activity.LocationActivity" />
        <activity android:name=".activity.ModifyPassActivity" />
        <activity android:name=".activity.NoticeActivity" />
        <activity android:name=".activity.FeedbackActivity" />
        <activity android:name=".activity.MineWebActivity" />
        <activity android:name=".activity.GiftRecordActivity" />
        <activity android:name=".activity.EditMemberActivity" />
        <activity android:name=".activity.SelectJobActivity" />
        <activity android:name=".activity.EditContentActivity" />
        <activity android:name=".activity.SelectTagActivity" />
        <activity android:name=".activity.FCLActivity" />
        <activity android:name=".activity.GRGiftActivity" />
        <activity android:name=".activity.TranRecordActivity" />
        <activity android:name=".activity.BindingBankActivity" />
        <activity android:name=".activity.BankListActivity" />
        <activity android:name=".activity.FeedbackDetailActivity" />
        <activity android:name=".activity.SystemMsgActivity" />
        <activity android:name=".activity.WithdrawActivity" />
        <activity android:name=".activity.AuthenticationActivity" />
    </application>

</manifest>