<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zb.module_home">

    <application android:theme="@style/HomeTheme">
        <activity
            android:name=".activity.PublishImageActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.DiscoverDetailActivity" />
        <activity android:name=".activity.RewardListActivity" />
    </application>

</manifest>