<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zb.module_bottle">

    <application android:theme="@style/BottleTheme">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.BottleThrowActivity" />
        <activity android:name=".activity.BottleListActivity" />
        <activity android:name=".activity.BottleChatActivity" />
    </application>

</manifest>