<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zb.module_register">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".PhoneActivity" />
        <activity android:name=".NickNameActivity" />
        <activity android:name=".BirthdayActivity" />
        <activity android:name=".CodeActivity" />
        <activity android:name=".LogoActivity" />
    </application>

</manifest>