<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zb.module_register">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application android:theme="@style/RegisterTheme">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.PhoneActivity" />
        <activity android:name=".activity.NickNameActivity" />
        <activity android:name=".activity.BirthdayActivity" />
        <activity android:name=".activity.CodeActivity" />
        <activity android:name=".activity.LogoActivity" />
        <activity android:name=".activity.ImagesActivity" />
    </application>

</manifest>