<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zb.module_camera">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />

    <application android:theme="@style/CameraTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".VideoActivity" />
        <activity android:name=".PhotoActivity"/>
        <activity android:name=".VideosActivity" />
    </application>

</manifest>