<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zb.module_camera">

    <application
        android:hardwareAccelerated="true"
        android:theme="@style/CameraTheme">
        <activity android:name=".activity.CameraActivity" />
        <activity android:name=".activity.VideoActivity" />
        <activity android:name=".activity.PhotoActivity" />
        <activity android:name=".activity.VideosActivity" />
        <activity android:name=".activity.VideoPlayActivity" />
        <activity android:name=".activity.PhotoStudioActivity" />
        <activity android:name=".activity.PhotoWallActivity" />
    </application>

</manifest>