<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zb.module_camera">

    <application
        android:allowBackup="false"
        android:debuggable="false"
        android:hardwareAccelerated="true"
        android:theme="@style/CameraTheme"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".activity.CameraActivity" />
        <activity android:name=".activity.VideoActivity" />
        <activity android:name=".activity.PhotoActivity" />
        <activity android:name=".activity.VideosActivity" />
        <activity android:name=".activity.VideoPlayActivity" />
        <activity android:name=".activity.PhotoStudioActivity" />
        <activity android:name=".activity.PhotoWallActivity" />
        <activity android:name=".activity.PhotoGroupActivity" />
        <activity android:name=".activity.FilmDetailActivity" />
        <activity android:name=".activity.PhotoMyFilmActivity" />
        <activity android:name=".activity.FilmResourceDetailActivity" />
    </application>

</manifest>