<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zb.module_chat">
    <activity
        android:name="com.alibaba.wxlib.util.RequestPermissionActivity"
        tools:node="remove" />
    <application android:theme="@style/ChatTheme">

        <activity android:name=".activity.ChatActivity" />
        <activity android:name="com.alibaba.wxlib.util.RequestPermissionActivity" />
    </application>

</manifest>