<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yimi.rentme">
    <!--region 适配全面屏-->
    <meta-data
        android:name="android.max_aspect"
        android:value="2.4" />
    <!--华为刘海区域展示-->
    <meta-data
        android:name="android.notch_support"
        android:value="true" />
    <!--小米刘海区域展示-->
    <meta-data
        android:name="notch.config"
        android:value="portrait" />

    <application
        android:name="com.zb.lib_base.app.MineApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">

        <service android:name=".activity.ForegroundLiveService" />
        <service android:name=".activity.ForegroundLiveService$InnerService" />

        <receiver
            android:name=".activity.MainActivity$alarmReceiver"
            android:exported="false"/>
        <receiver
            android:name=".activity.MainActivity$alarmReceiver1"
            android:exported="false"/>
        <receiver
            android:name=".activity.MainActivity$alarmReceiver2"
            android:exported="false"/>
        <receiver
            android:name=".activity.MainActivity$alarmShortReceiver"
            android:exported="false"/>
        <receiver
            android:name=".activity.MainActivity$alarmShortReceiver1"
            android:exported="false"/>
        <receiver
            android:name=".activity.MainActivity$alarmShortReceiver2"
            android:exported="false"/>
        <receiver
            android:name=".activity.MainActivity$alarmShortReceiver3"
            android:exported="false"/>
        <receiver
            android:name=".activity.MainActivity$alarmShortReceiver4"
            android:exported="false"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.yimi.rentme.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!-- 友盟配置 start-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 友盟配置 end-->
        <!-- 支付宝快捷支付 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <!-- 支付宝快捷支付 end -->

        <!-- 个推SDK配置开始 -->
        <service
            android:name=".getui.DemoPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.service.message" />
            </intent-filter>
        </service>
        <service android:name=".getui.DemoIntentService" />
        <!-- 个推SDK配置结束 -->

        <activity
            android:name=".activity.LoadingActivity"
            android:theme="@style/StartingWindowTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />

        <activity android:name=".activity.NotifivationActivity" />


    </application>

</manifest>