<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yimi.rentme">
    <!-- 个推 SDK 权限配置开始 -->
    <!-- 必选权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission
        android:name="getui.permission.GetuiService.${applicationId}"
        android:protectionLevel="signature"
        tools:replace="android:protectionLevel" />
    <!-- 个推 SDK 权限配置结束 -->

    <application
        android:name="com.zb.lib_base.app.MineApp"
        android:allowBackup="false"
        android:debuggable="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="HardcodedDebugMode"
        tools:replace="android:theme,android:allowBackup,android:debuggable">
        <!--region 适配全面屏-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!--华为刘海区域展示-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--小米刘海区域展示-->
        <meta-data
            android:name="notch.config"
            android:value="portrait" />

        <service android:name=".service.ForegroundLiveService" />

        <receiver
            android:name=".utils.AlarmUtils$alarmReceiver"
            android:exported="false"
            android:protectionLevel="signature" />
        <receiver
            android:name=".utils.AlarmUtils$alarmReceiver1"
            android:exported="false"
            android:protectionLevel="signature" />
        <receiver
            android:name=".utils.AlarmUtils$alarmReceiver2"
            android:exported="false"
            android:protectionLevel="signature" />
        <receiver
            android:name=".utils.AlarmUtils$alarmShortReceiver"
            android:exported="false"
            android:protectionLevel="signature" />
        <receiver
            android:name=".utils.AlarmUtils$alarmShortReceiver1"
            android:exported="false"
            android:protectionLevel="signature" />
        <receiver
            android:name=".utils.AlarmUtils$alarmShortReceiver2"
            android:exported="false"
            android:protectionLevel="signature" />
        <receiver
            android:name=".utils.AlarmUtils$alarmShortReceiver3"
            android:exported="false"
            android:protectionLevel="signature" />
        <receiver
            android:name=".utils.AlarmUtils$alarmShortReceiver4"
            android:exported="false"
            android:protectionLevel="signature" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.yimi.rentme.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!-- 友盟配置 start-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wxb83427622a6740f6" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wxb83427622a6740f6" />
            </intent-filter>
        </activity>
        <!-- 友盟配置 end-->

        <!-- 个推 start-->
        <meta-data
            android:name="GETUI_APPID"
            android:value="HHWzdCtaSz5j94MO2tqcT3"
            tools:replace="android:value" />

        <!-- 配置 SDK 核心服务 -->
        <!-- permission 属性在 2.13.1.0 版本后必须配置 -->
        <service
            android:name=".getui.DemoIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55cac14467e58e8bd7000359" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${qqappid}" />

            </intent-filter>

        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:configChanges" />

        <activity
            android:name=".activity.LoadingActivity"
            android:exported="true"
            android:theme="@style/StartingWindowTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginVideoActivity"
            android:exported="false" />

    </application>

</manifest>