<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zb.module_register">

    <application
        android:name="com.zb.lib_base.app.MineApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/RegisterTheme"
        tools:replace="android:theme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.zb.module_register.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.PhoneActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.NickNameActivity" />
        <activity android:name=".activity.BirthdayActivity" />
        <activity android:name=".activity.CodeActivity" />
        <activity android:name=".activity.LogoActivity" />
        <activity android:name=".activity.ImagesActivity" />
    </application>

</manifest>